# Tiff files
*.tiff
*.tif
*.tfw

# Shape files
*.shp
*.dbf
*.qpj
*.shx
*.prj

# Zip files
*.zip

# folders
**/02_Data_Sources/**
**/03_Data_Processing/**
**/04_GRASS/**
**/98_Backups
**/TMP

# python files
*.pyc
